# Build outputs
bin/
obj/
out/
dist/
dist-*/
build.binlog
out.pp
*.exe
*.dll
*.pdb

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Visual Studio cache/options
.vscode/
*.code-workspace

# ReSharper
_ReSharper*/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# VS Code directories
.ionide/

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Temp files
*.tmp
*.temp
*.swp
*~
